thead th{
    background-color: blue;
    color: white;

}

.head{
    display:block;
}
.head a{
    float: right;
    font-size: 20px;
    color: #000000;
    width: 100px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid rgb(34, 37, 28);
    border-radius: 5px;
    text-decoration: none;
    padding: 5px 7px; 
    margin-right:20px;
    background-color: rgb(230, 158, 23);
}
.head a:hover{
    background-color: rgb(235, 195, 121);
}
table{
    padding-top: 10px;
}
table th{
    background-color: blue;
}

#edit-btn{
    color: white;
    background-color:  #2b3a68;
    border-radius: 5px ;
    padding: 7px;
    margin:0;
}
#del-btn{
    color: white;
    background-color:   #7e3434;
    border-radius: 5px ;
    padding: 7px;
    margin:0;
}
#show-btn{
    color: white;
    background-color:  #317955;
    border-radius: 5px ;
    padding: 7px;
    margin:0; 
}