.form-container a{
    float: right;
    font-size: 20px;
    color: #000000;
    width: 200px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid rgb(34, 37, 28);
    border-radius: 5px;
    text-decoration: none;
    padding: 5px 7px;
    margin-right:20px;
    background-color: #ff941a;
}
.form-container-head{
    background-color: #fbfcfb;
    height: 50px;
    padding: 5px;
}
.form-form{
    padding: 10px;
    align-items: center;
    margin-left: 100px;
}
.form-container input[type=text]{
    border: 1px solid #0c0b09;
}

.form-container textarea{
    border: 1px solid #0c0b09;
    text-align: left;
}

.form-container input[type=file]{
    border: 1px solid #0c0b09;
}

.form-container label{
    margin-top: 5px;

}
p{
    margin-left: 70px;
}
